# Never edit the lines below unless you know what you are doing.
add_ace resource.dc-adminmenu command allow # Allow dc-adminmenu to execute commands
add_ace AdminmenuGod adminmenu.god allow #Allow the group "AdminmenuGod" to use the ace "adminmenu.god"
add_ace AdminmenuAdmin adminmenu.admin allow #Allow the group "AdminmenuAdmin" to use the ace "adminmenu.admin"
add_principal AdminmenuAdmin qbcore.admin #Allow the group "AdminmenuGod" to use everything "qbcore.admin" can use
add_principal AdminmenuGod AdminmenuAdmin #Allow the group "AdminmenuGod" to use everything "AdminmenuAdmin" can use
add_principal AdminmenuGod qbcore.god #Allow the group "AdminmenuGod" to use everything "qbcore.god" can use

# Start adding players down here. identifier.<something> is the player and <groupname> is the group you will add him to.
# add_principal identifier.<any identifier here> <any group name here like "AdminmenuAdmin" or "AdminmenuGod">
# EXAMPLE BELOW
# add_principal identifier.fivem:1070255 AdminmenuGod
# identifier. could also be steam:<steam64 hex id> or discord:<discord id>. As long if the identifier is connected with your account.
