
# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god


add_principal identifier.fivem:895404 qbcore.god #Hamid
add_principal identifier.license:382f8ff5528173d3b7e85dd2614f5e8b5c22105f qbcore.god

add_principal identifier.license:1f694677599f7d2705ab5cf7ff1416e6f3575e54 qbcore.god #AmirTech


