#Required

ensure qb-core

ensure pma-voice
ensure zerio-radio






#Discord
ensure zdiscord
# ensure bb-queue

#Standalone
ensure chat

ensure bob74_ipl
# ensure connectqueue
ensure dpemotes
ensure interact-sound
ensure menuv
ensure mka-lasers

ensure PolyZone
ensure progressbar

ensure screenshot-basic
ensure xsound

ensure qb-target
ensure LegacyFuel

ensure httpmanager
ensure pmms

ensure d7y_TicTacToe


# QBCORE SCRIPTS
ensure tnj-notify
ensure ps-dispatch
ensure ps-mdt
ensure iyc-admin
ensure qb-ambulancejob
ensure qb-anticheat
ensure qb-apartments
# ensure qb-atm
ensure simple-banking
ensure qb-busjob
ensure qb-cityhall
ensure fivem-appearance
ensure qb-commandbinding
ensure LuxuExchange
ensure qb-customs
ensure re2-tuner
ensure qb-diving
ensure qb-doorlock
ensure qb-drugs
ensure qb-fitbit
ensure qb-garages
ensure qb-garbagejob
ensure qb-hotdogjob
#ensure qb-houserobbery
ensure qb-houses
ensure qb-hud
ensure tnj-buffs
ensure qb-input
ensure qb-interior
ensure lj-inventory
ensure qb-jewelery
ensure qb-keyminigame
ensure qb-lapraces
ensure qb-loading
ensure qb-management
ensure qb-mechanicjob
ensure qb-menu
ensure qb-multicharacter
ensure qb-newsjob
ensure qb-pawnshop
ensure qb-phone
ensure qb-policejob
ensure qb-bodycam
ensure qb-prison
ensure qb-carmenu
ensure qb-radialmenu
ensure qb-recyclejob
ensure qb-scoreboard
ensure qb-scrapyard
ensure qb-shops
ensure qb-skillbar
ensure qb-smallresources
ensure jerzys_spawn
ensure qb-sit
ensure al_qb_printer

ensure loaf_spikestrips
ensure nh-context
ensure qb-storerobbery
# ensure qb-bobcat
ensure qb-streetraces
ensure qb-UwUCafe
ensure qb-taxijob
ensure qb-towjob
ensure qb-laundering
ensure qb-truckerjob
ensure qb-truckrobbery
ensure qb-tunerchip
ensure qb-vehiclefailure
ensure qb-vehiclekeys
ensure qb-vehiclesales
ensure qb-vehicleshop
ensure qb-vineyard
ensure qb-weapons
ensure qb-weathersync
ensure qb-weed
ensure sd-blackout
ensure tgiann-erpv2
ensure qb-vendings
ensure qb-digitalden

ensure qb-djbooth
ensure qb-k9
ensure gb-cigarettes
ensure ps-drugprocessing

ensure qb-ammunationjob
ensure tr-lumberjack
ensure jim-mining
ensure qb-simplefarming
ensure qb-burgershot
ensure re2-elevator
ensure qb-TriadRecords
ensure qb-fish

ensure jl-carboost
ensure lambra-caravanHouse

ensure qb-fpsbooster
ensure aj-camera
ensure qb-fleeca
ensure policeradar
# MiniGames
ensure mhacking
ensure safecracker
ensure qb-lock
ensure memorygame
ensure boostinghack
ensure minigame-fleeca
ensure qb-lockpick
ensure varhack

# Casino
# ensure cd_drawtextui
# ensure casinoUi
# ensure casino-blackjack
# ensure casino-insidetrack
# ensure casino-roulette
# ensure casino-walls
# ensure qb-blackjack
# ensure doj-arcade

ensure keep-companion
ensure keep-hunting


ensure mojito_crypto

# ensure qb-nitro

ensure qb-idcard

ensure qb-restaurantjob

ensure luxart-vehicle-control-lite

ensure qb-shenails
