body {
    overflow: hidden;
    user-select: none;
    font-weight: 650;
    font-family: 'Lato', sans-serif;
}

.mainmenu-container {
    position: absolute;
    width: 1000px;
    height: 500px;
    background: url(https://cdn.discordapp.com/attachments/926465631770005514/960872560759820308/w_20210210001233692900_1_1.jpg);
    left: 50%;
    top: 50%;
    display: none;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-color: #000000;
    border-radius: 15px;
}

.cancelmenu-button {
    position: absolute;
    width: 10vh;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 80.5vh;
    box-shadow: 1px 1px 6px rgb(23, 23, 23);
    background-color: rgb(104, 31, 31);
}

.cancel-button:hover {
    background-color: rgba(104, 31, 31, 0.74); 
}